<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
	  <a class="navbar-brand my-0 py-0" href="/">
		  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9CMZK-cREn6UPTLshWBcKVhFFeQ85OXGHZtTnsLDvKDWhaYsbadby8OXVpbQGFRj9MrU&usqp=CAU" height="50">
	  </a>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			  <li class="nav-item">
				  <a class="nav-link" aria-current="page" href="/places">Places</a>
			  </li>
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Types of Places</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" href="/places//typeOfPlace/Culture-Architecture">Culture-Architecture</a></li>
					<li><a class="dropdown-item" href="/places//typeOfPlace/Walk-friendly">Walk-friendly</a></li>
					<li><a class="dropdown-item" href="/places//typeOfPlace/Food-Cafe">Food-Cafe</a></li>
					<li><a class="dropdown-item" href="/places//typeOfPlace/Church">Church</a></li>
					<li><a class="dropdown-item" href="/places//typeOfPlace/Park">Park</a></li>
					<li><a class="dropdown-item" href="/places//typeOfPlace/Shopping">Shopping</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="/places">All</a></li>
				</ul>
			  </li>
			  
			  <% if(user) { %>
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/places/new">Add Place</a>
			  	</li>
			  	<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/logout">
						Log out <strong><%= user.username %> </strong> 
					</a>
				</li>
			  <% } else { %>
				  <li class="nav-item">
					  <a class="nav-link" aria-current="page" href="/login">Log In</a>
				  </li>
				  <li class="nav-item">
					  <a class="nav-link" aria-current="page" href="/signup">Sign Up</a>
				  </li>
			  <% } %>
		  </ul>
		  
		  <form class="d-flex" action="/places/search" method="GET">
			  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="term">
			  <button class="btn btn-outline-success" type="submit">Search</button>
		  </form>
	  </div>
	</div>
</nav>

<div class="container mt-2">
	<% if (errorMessage && errorMessage.length>0) { %> 
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<%= errorMessage %>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	<% } %>
	<% if (successMessage && successMessage.length>0) { %> 
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<%= successMessage %>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	<% } %>
</div>