<%- include('./partials/header'); %> <!--  partial included here -->
<%- include ("partials/navbar") %>

<div class="container m-5">
	<h1>Account page here</h1>	
</div>


<%- include('./partials/footer'); %> <!--  partial included here -->