<%- include('partials/header'); %> <!--  partial included here -->

<div class="index-bgImage">
	
	<div class="container-md my-4">
		<div class="row border-bottom border-dark bottom align-items-center text-center">
			<div class="col-3">
				<h1>BAires</h1>
			</div>
			<div class="col-9">
				<h4>Points to visit in Buenos Aires, Argentina</h4>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<a href="/places" class="w-75">
					<button class="btn btn-outline-dark mt-2 w-100">See Places</button>
				</a>	
			</div>
			<div class="col text-center">
				<a href="/login" class="w-75">
					<button class="btn btn-outline-dark mt-2 w-100">Log In</button>
				</a>
			</div>
			<div class="col">
				<a href="/signup" class="w-75">
					<button class="btn btn-outline-dark mt-2 w-100">Sign Up</button>
				</a>
			</div>
		</div>
	</div>
</div>

<%- include('partials/footer'); %> <!--  partial included here -->