<!--  partial included here -->
<%- include('./partials/header'); %>
<div class="login-signUp-bgImage">
<%- include ("partials/navbar") %>

	<div class="container-lg my-4">
		<div class="col-sm-6">
			<div class="login-signUp-opacity rounded py-1 my-3 w-50">
				<h1 class="text-center">Log In</h1>
			</div>
			<form action="/login" method="POST">
				<div class="mb-3">
					<input type="text" class="form-control" name="username" id="username" placeholder="Username" autofocus>
				</div>
				<div class="mb-3">
					<input type="password" class="form-control" name="password" id="password" placeholder="Password">
				</div>
				<button type="submit" class="btn btn-danger w-25">Log In</button>
			</form>
		</div>
	</div>
</div>

<!--  partial included here -->
<%- include('./partials/footer'); %> 
