.card-img{
	width:100%;
	height:18rem;
	object-fit:cover;
}

.card-text{
	white-space: pre-wrap;
}

.img-fluid{
	max-height: 80vh;
	}

/* places.ejs */
.places-limitTextLines {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}

/* index.ejs */
.index-opacity{
  background: rgba(205, 221, 237, 0.85);
}

.index-bgImage{
	background-image: url('/img/baires-index2-min.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position:top center;
	height:100vh;
}

/* login.ejs */
.login-signUp-bgImage{
	background-image: url('https://turismo.buenosaires.gob.ar/sites/turismo/files/aerea_9_julio_as_2016_obelisco.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left top;
	height:100vh;
	overflow: hidden;
}

.login-signUp-opacity{
  background: rgba(255, 255, 255, 0.8);
}
